<div>
    <label class="artform_lbl" for="name">Sentence <%= sentence %></label>
    <textarea id="p<%= paragraph %>-s<%= sentence %>" type="text" autocomplete="on" placeholder="sentence <%= sentence %> (Max: 20 words)" required=""></textarea>
    <p>
        Keywords: <span id="p<%= paragraph %>-s<%= sentence %>-nkeys">0</span>
        Words: <span id="p<%= paragraph %>-s<%= sentence %>-count">0</span>
    </p>
</div>
