          <div class="col s12 m4 feed">
              <div class="card large">
                <div class="card-image">
                  <img src= <%= image %> alt="<%= title %>" >
                  <span class="card-title"><%= title %></span>
                  </div>
                <div class="card-content" >
                  <p><%= description %></p>
                  </div>
                <div class="card-action">
                  <a href=<%= href %> target="blank" rel="nofollow">Linkedin Profile</a>
                  </div>
                </div>
          </div>

<!--
  image
  title
  description
  href
  -->