          <div class="col s12 m4 feed">
              <div class="card large">
                <div class="card-image">
                  <img src= <%= image %> alt="<%= title %>" >
                  <span class="card-title"><%= title %></span>
                  </div>
                <div class="card-content" >
                  <p><%= areas %></p>
                  <p><%= experience %></p>
                  </div>
                </div>
          </div>

<!--
  image
  title
  description
  href
  -->