<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- partial("_googleanalytics") %>
</head>
<body>
  <header id="intro">
    </article>
    <%- partial("_nav")%>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="firsthomeblock">
      <h1>Contributors</h1>
      <div id="toprow">
      <p>We are gradually increasing the number of writers AKA Ninjas to deliver more quality content to you. Here are the contributors </p>
      <%- partial("_top_content") %>
      </div>
    </article>
      <article id="contributor">
      <h1>Contributors</h1>
      <h2> Miguel Teixeira
      <img src="images/avatars/MTavatar.jpeg">
      <p id="shortdesc">
        Founder & CEO of Idea Ninja.<br>
        Miguel has a degree in Marketing, he has an MBA and has worked in technology for almost 15 years.<br>
        He has worked in several startup projects including Idea Ninja.<br>
        Currently he is freelancing and accepting projects as Front-end developer, Marketeer, Strategic Consultant, Project Manager.<br>
        <a href="http://www.linkedin.com/in/miguelteixeira/en" target="_blank">Linkedin profile</a> <br>
        </p>
    </article>
      
    <%- partial("_contactus")%>
  </div><!-- bodyhome -->
</main>
  <%- partial ("_footer") %>
</body>
</html>
