<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%- partial("_googleanalytics") %>
</head>
<body>
  <header id="intro">
    </article>
    <%- partial("_nav")%>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="firsthomeblock">
      <h1>Contact US</h1>
      <div>
        
      </div>
      <div id="toprow">
      <p>Please give us Feedback.</p><br>
      <%- partial("_contactform") %>
      <%- partial("_top_content") %>
      </div>
    </article>
  </div><!-- bodyhome -->
</main>
  <%- partial ("_footer") %>
</body>
</html>
