<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- partial("_googleanalytics") %>
</head>
<body>
  <header id="intro">
    </article>
    <%- partial("_nav")%>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="firsthomeblock">
      <h1>Opinions</h1>
      <div id="toprow">
      <p>Idea Ninja is dedicated to bring you quality articles, how-tos and tools that will help you develop ideas into concepts and use tools and frameworks to make you have better results and less work. </p>
      <%- partial("_top_content") %>
      </div>
    </article>
      <article id="horizontal">
      <h1>Idea Ninja official Website is live</h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <img src="images/avatars/MTavatar.jpeg">
      <p id="shortdesc">Idea Ninja, the Entrepreneur Dojo, went live on 1st of April 2015.  ideaninja.io was created to address common obstacles found in the process of creating a business. We will help you execute by sharing through ideaninja.io how-to articles, resources found on the web and tools we developed. We will also show you different approaches to overcome obstacles found along the way.<a href="idea-ninja-official-website-is-live.html">Continue reading</a> </p>
    </article>
     <article id="horizontal">
      <h1>Put adult in the house</h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <img src="images/avatars/MTavatar.jpeg">
      <p id="shortdesc">The challenge of creating a company can be daunting. You will find tasks where you will need some guidance.  Find mentors, identify the skills you need to develop and get adult supervision AKA mentor.<a href="put_adult_in_the_house.html">Continue reading</a> </p>
    </article>
    <%- partial("_contactus")%>
  </div><!-- bodyhome -->
</main>
  <%- partial ("_footer") %>
</body>
</html>
