<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- partial("_googleanalytics") %>
</head>
<body>
  <header id="intro">
    </article>
    <%- partial("_nav")%>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="firsthomeblock">
      <h1>Resources</h1>
      <div id="toprow">
      <p>Idea Ninja is dedicated to bring you quality articles, how-tos and tools that will help you develop ideas into concepts and use tools and frameworks to make you have better results and less work. </p>
      <%- partial("_top_content") %>
      </div>
    </article>
      <article id="horizontal">
      <h1>Free Hosting! Find out how</h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <img src="images/avatars/MTavatar.jpeg">
      <p id="shortdesc">Are you spending money on hosting ? No more! You can use github to host your site for free right now. Read this article to learn how. <a href="free-hosting-find-out-how.html">Continue reading</a> </p>
      </article>
    <%- partial("_contactus")%>
  </div><!-- bodyhome -->
</main>
  <%- partial ("_footer") %>
</body>
</html>
