<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cost Accounting for Entrepreneurs | Idea Ninja</title>
  <meta  name ="description" content ="In this article we want to show you how simple and useful cost accounting can be, and provide you all the necessary information to make you capable of understanding your own company numbers. Few people start a business because they are good with numbers. In fact, the terms “accounting” and “financial analysis” tend to create headaches on many business owners. We will make cost accounting accessible for everyone. "/>
  <link rel="stylesheet" href="css/style.css"/>

  <link rel="canonical" href="https://ideaninja.io/cost_accounting.html">
  <meta property="og:title" content="Cost Accounting for Entrepreneurs | Idea Ninja" />
  <meta property="og:type" content="article">
  <meta property="og:description" content="In this article we want to show you how simple and useful cost accounting can be, and provide you all the necessary information to make you capable of understanding your own company numbers. Few people start a business because they are good with numbers. In fact, the terms “accounting” and “financial analysis” tend to create headaches on many business owners. We will make cost accounting accessible for everyone." />
  <meta property="og:url" content="https://ideaninja.io/cost_accounting.html"/>
  <meta property="og:image" content="https://ideaninja.io/images/articles/cost_accounting/cost_accounting.jpg" />
   <%- include partials/_og_partial.ejs %> 

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
   <%- include partials/_googleanalytics.ejs %>
     <%- include partials/_favicon.ejs %>  
</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
  <header id="intro">
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
      <h1>Cost Accounting for Entrepreneurs</h1>
    <div>
      <p id="author">Author: Tiago Rodrigues<br>
      2016-03-20 <br>
      Tags: costaccounting, decisionmaking, howto</p>
    </div>
        <div class="fb-like" data-href="https://ideaninja.io/cost_accounting.html" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    <%- include partials/_socialshares.ejs %>   
    <div id="articlebody">
      <p>In this article we want to show you how simple and useful cost accounting can be, and provide you all the necessary information to make you capable of understanding your own company numbers. Few people start a business because they are good with numbers. In fact, the terms “accounting” and “financial analysis” tend to create headaches on many business owners. We will make cost accounting accessible for everyone.</p>
      
      <h2>Cost Accounting vs Financial Accounting</h2>
      <p>Financial Accounting and Cost Accounting are two completely different realities.</p>
      <p>While, Financial Accounting provides the relevant  information for taxes and is mandatory by nature.  Cost Accounting is something you because it helps you make decisions and better understand your business,due to it’s detailed information of your expenses.</p> 
      <p>An example of a cost accounting finished sheet, should be something like the following:</p>
          <img src="images/articles/cost_accounting/cost_accounting.jpg" id="articleimg" alt="Cost accounting analysis">
      <p>As you can see, Cost Accounting provides a clean and easy reading sheet, where it becomes way clearer where you should be focusing your time and money. in the example above, you can read that although product A and C have roughly the same sales. However product A represent three times as much profit as product C.</p>
      <h2>Why Should an Entrepreneur know Cost Accounting?</h2>
      <p>Most business owners try to repel all the accounting work into an accountant. Truth is you should try to do some number crunching yourself. Like shown in the table above, Cost Accounting isn't as complex as financial accounting and it provides plenty of useful information. For an Entrepreneur, cost accounting has three core benefits:</p>
      <ul>
        <li><strong>Provide Detailed Information -</strong> One of the major advantages of cost accounting, is that it empowers the entrepreneur with more information, facilitating the process of doing key decisions. If you understand your company’s numbers, then it is easier to estimate the financial impact of your decisions. Cost accounting helps you define priorities, investments and enhances the overall quality of your decisions.</li>
        <li><strong>Monitors progress -</strong> Since Cost Accounting hands you detailed information about your operations, it becomes way easier to monitor progress and, consequently make adjustments,when necessary. It enables you to measure actual progress versus predicted progress, keeping you honest about your business numbers all the time. If you’re not hitting the targets you have set, you can identify problems and correct them.</li>
        <li><strong>Clarifies the path to take -</strong> Another of the entrepreneur’s core objective is to make plans in a way that attracts others to work on a shared vision to change the world in some way. In the early stages of a venture, estimates can unite a team by making a blurry vision more concrete, measurable, and actionable. By analysing your expenses in detail, you can draw conclusions about:  what’s the margin you get per sale, your cost structure breakdown per product, what price you need to practice to break even and plenty of other useful information.</li>
      </ul>
      <h2>Cost Accounting 101: Steps to do it yourself</h2>
      <p>We already shown what Cost Accounting is and why you should do it. It’s time to pull up the sleeves and show you how to do it yourself.</p>
      <h3>1st Step - Revenue Streams Identification</h3>
      <p>First of all, you have to identify what your revenue streams are, in the example we handed before our revenue streams were 3 different products the company had.</p>
        <img src="images/articles/cost_accounting/revenue_sources.jpg" id="articleimg" alt="revenue sources cost analysis">
      <h3>2nd Step - Cost Structure Identification</h3>
      <p>Secondly, you should identify what are the costs you support in your business. Most of the times, the following costs cover it all.</p>
      <div>
        <img src="images/articles/cost_accounting/cost_structure.jpg" id="article_med_img" alt="cost structure cost accounting">
      </div>
      <h3>3rd Step - Receipt Matching</h3>
      <p>After identifying your Revenue Streams and Cost Structure you have on your business. It’s time to identify where each singular receipt goes to. This is where it starts getting tricky so buckle up. There are four basic types of costs you need to keep in mind. However, let’s define them 2 by 2 to make it simpler. Starting by the differences between fixed and variable costs.</p>
      <ul>
        <li><strong>Fixed costs -</strong> Fixed costs like the name specifies are costs that are fixed, no matter how much you produce or sell. A good example of this type of cost is a lease on a building. You have to pay the lease no matter how your company did in terms of sales.</li>
        <li><strong>Variable costs -</strong> Unlike fixed costs, variable costs change with the level of production. The easiest example of this type of cost, are materials used in production because it changes according to the level of production you are doing.</li>
      </ul>
      <p>After defining between variable or fixed, now you have to choose between direct or indirect.</p>
      <ul>
        <li><strong>Direct costs - </strong>Direct costs are costs that can be directly traced to the revenue stream. Material and labor costs are good examples of this type of cost.</li>
        <li><strong>Indirect costs - </strong>These can’t be directly traced to the product; instead, these costs are allocated, based on some level of activity. For example, if you use the same infrastructure to develop all your products you will allocate a chunk of that cost to each product being that an indirect cost of your product.</li>
      </ul>
      <p>Every cost can be defined with a combination of two of this four costs. For example, your electricity bill is an indirect variable cost if you use that electricity for all your different revenue streams. However, if you have a specific electricity bill per revenue stream it can be defined as a direct variable cost, because you can directly trace it to each revenue stream.</p>
        <img src="images/articles/cost_accounting/cost_classification.gif"  id="article_med_img" alt="cost analysis indirect variable">
      <h3>4th Step - Indirect Cost Allocation</h3>
      <p>Like we said before, indirect costs are costs that can’t be directly traced to a revenue stream so what you have to do is allocate those costs according to the following rules:</p>
      <ul>
        <li>Human Resources - Number of hours worked on that revenue stream.</li>
        <li>Materials - Percentage of materials used on that revenue stream.</li>
        <li>Distribution - Percentage each revenue stream represents in sales.</li>
        <li>External Services - Percentage of usage on each revenue stream.</li>
        <li>Infraestructures - Space occupied in factory for the production of each product.</li>
        <li>Communication and Marketing - Percentage each revenue stream represents in sales.</li>
      </ul>
      <p>At the end of the allocation what you will end up getting is a Proxy Table similar to this one.</p>
          <img src="images/articles/cost_accounting/cost_imputation.gif" id="articleimg" alt="KPI fixed costs analysis">
      <h3>Final Step - Use the calculator</h3>
      <p>When you get to this point, all you have to do is use your calculator. Start by multiplying your proxy table with the all the different indirect costs. Then just add them up to their respective direct costs and put them on the sheet. You will end up with a sheet similar to our initial sheet.</p>
      <h2>Final Remarks</h2>
      <p>Cost Accounting is one of the most underrated tools by entrepreneurs. I hope this article made you realise how useful it can be. One of the beauties of cost accounting is that even if you know nothing about accounting everyone is capable to apply this exercise on their own business providing you with critical information that otherwise you wouldn’t get.</p>
      <p>If you found this article helpful, then you might be interested in the following ones:</p>
      <ul>
        <li><a href="/basics_of_accounting_for_entrepreneurs.html" target="blank">Basics of Accounting for Entrepreneurs</a></li>
        <li><a href="/books_for_entrepreneurs_curated_list_plus_video.html" target="blank">Books For Entrepreneurs</a></li>
        <li><a href="/reasons_why_startups_fail.html" target="blank">Reasons Why Startups Fail</a></li>
      </ul>
          </div><!--articlebody-->
    </article>
    <%- include partials/_contactus %>
  </div><!-- bodyhome -->

</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/cost_accounting.html" data-colorscheme="dark" data-numposts="10"></div>
  <%- include partials/_footer %></body>
</html>
