<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Idea Ninja template available | Idea Ninja</title>
  <meta  name ="description" content ="Idea Ninja has made its site template available to you, so you can use it and abuse it. You can download it, trunk it, review it and add more features."/>

  <link rel="canonical" href="https://ideaninja.io/idea-ninja-template-available.html">
  <meta property="og:title" content="Idea Ninja template available | Idea Ninja" />
  <meta property="og:type" content="article">
  <meta property="og:description" content="Idea Ninja has made its site template available to you, so you can use it and abuse it. You can download it, trunk it, review it and add more features." />
  <meta property="og:url" content="https://ideaninja.io/idea-ninja-template-available.html" />
   <meta property="og:image" content="https://ideaninja.io/images/icons/favicon.ico" />
   <%- include partials/_og_partial.ejs %> 
  
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <%- include partials/_googleanalytics.ejs %>
      <%- include partials/_favicon.ejs %>  

</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
  <header id="intro">
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
      <h1>Idea Ninja template available</h1>
    <div>
      <p id="author">Author: Miguel Teixeira <br>
      2015-04-08 <br>
      Tags: Website, template, css, Editorial </p>
      <div class="fb-like" data-href="https://ideaninja.io/idea-ninja-template-available.html" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    <%- include partials/_socialshares.ejs %>   
    </div>
    <div id="articlebody">
      <p>Idea Ninja has made its site template available to you, so you can use it and abuse it when building your startup's website. You can download it, trunk it, review it and add more features.</p>
      <p>From the get-go Ideaninja shares its template to you. This template is a living organism, it will evolve as the site evolves and all will continue to be shared.</p>
      <p>You can find it in this <a href ="https://github.com/mgteixeira/IdeaNinja_template/tree/master"  target="blank" rel="nofollow">github repository</a> You can download it freely, trunk it, make it evolve.</p> 
      <p>This template was initial developed using Gulp with Compass, Susy and Breakpoint among others.</p>
          </div>
    </article>
              <%- include partials/_contactus %>
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/idea-ninja-template-available.html" data-colorscheme="dark" data-numposts="10"></div>
   <%- include partials/_footer %>
</body>
</html>
