<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Information Technology Consulting | Idea Ninja</title>
  <meta  name ="description" content ="Do you want to develop a website? How many companies have ended because they made a mistake choosing their technological partner? We know a lot of horror stories."/>
  <link rel="canonical" href="https://ideaninja.io/itconsulting.html">
  <meta property="og:title" content="Information Technology Consulting | Idea Ninja" />
  <meta property="og:type" content="website">
  <meta property="og:description" content="Do you want to develop a website? How many companies have ended because they made a mistake choosing their technological partner? We know a lot of horror stories." />
  <meta property="og:url" content="https://ideaninja.io/itconsulting.html" />

   <meta property="og:image" content="https://ideaninja.io/images/icons/default.png" />
   <%- include partials/_og_partial.ejs %> 
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <%- include partials/_googleanalytics.ejs %>
      <%- include partials/_favicon.ejs %>  
</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
<!-- servModal -->
        <div class="modal fade" id="servModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Request for Contact</h4>
                    </div>
                    <div class="modal-body"></div>
                    <form id="service_form">
                      <fieldset>

                        <div>
                          <label for="companyname">Company or project name</label>  
                          <div >
                          <input id="companyname" type="text" autocomplete= "on" placeholder="Enter the name of the company or project here" required="">
                          </div>
                        </div>

                        <div>
                          <label for="contactname">Contact Name</label>  
                          <div>
                          <input  id="contactname" type="text" autocomplete= "on" placeholder="Contact Name" required="">
                          </div>
                        </div>                        

                        <div>
                          <label for="email">Contact Email</label>  
                          <div>
                          <input  id="email" name="email" type="text" autocomplete= "on" placeholder="Enter your email address here" required="">
                          </div>
                        </div>

                        <div>
                          <label for="preferedcontacttype">Perferred way of contact:</label>
                          <div>                     
                            <select  id="preferedcontacttype" >
                              <option value="skype">Skype</option>
                              <option value="hangouts">Hangouts</option>
                            </select>
                          </div>
                        </div>

                        <div>
                          <label for="servicepackage">Service package desired:</label>
                          <div>                     
                            <select  id="servicepackage" >
                              <option value="it1">Functional and Technical design - Simple webpage</option>
                              <option value="it2">Functional and Technical design - Standard website</option>
                              <option value="it3">Functional and Technical design - Complex website</option>
                              <option value="it4">Functional and Technical design - Custom package</option>
                              <option value="it5">IT Development - Static Page</option>
                              <option value="it6">IT Development - Simple Webpage</option>
                              <option value="it7">IT Development - Standard website</option>
                              <option value="it8">IT Development - Complex Website</option>
                              <option value="it9">IT Development - Custom Website</option>
                              <option value="it10">IT Product Testing - Small testing package</option>
                              <option value="it11">IT Product Testing - Big testing package</option>
                              <option value="it12">IT Product Testing - Huge testing package</option>
                              <option value="it13">IT Product Testing - Custom package</option>
                            </select>
                          </div>
                        </div>

                        <!-- Textarea -->
                        <div>
                          <label for="msg">Short description of the project</label>
                          <div>                     
                            <textarea id="msg" name="msg" cols="6" rows="6"></textarea>
                          </div>
                        </div>
                                                <!-- Button -->
                        <div>
                          <label for="submit"></label>
                          <div>
                            <button id="submit" name="submit">Send Message</button>
                          </div>
                        </div>

                      </fieldset>
                  </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
 <!--End servModal-->



  <header id="intro">
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
    
    <h1 class="headingserv">Information Technology Consulting</h1>
    <div id="articlebody"> 
    <p>Do you want to develop a website? Your desires go beyond what a CMS or Basic shopping carts can deliver ? How many companies have ended because they made a mistake choosing their technological partner? We know a lot of horror stories.</p>
    <p>At IdeaNinja, the price is set, duration is fixed and you know exactly what you are going to get. Less risk, more transparency and service packages specifically made for startups like yours.</p>
    <p>At IdeaNinja we have developed services to help you in all the steps os the process:</p>
    <ul>
      <li>Functional and Technical Design - Definition phase when you specify exactly what you want.</li>
      <li>IT Development - The construction phase, when your dream comes to life.</li>
      <li>IT Product Testing - In every development the are bugs to identify. In this step we thoroughly test your piece of software.</li>
    </ul>
    <br>
  </div>
 
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- div de chamada 1 -->
      <div class="panel panel-default" id="panel0">
         <div class="panel-heading" role="tab" id="heading0">

          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0" class="nodecor" id="linkpanel0">
          <div>
            <img src="images/icons/services/specs-icon.png" class="service-icons" alt="Functional and Technical Designs">
            <h2 class="headingserv">Functional and Technical Designs</h2>
            <p>This is the root of all evils. A bad functional/technical specification is most of the times the source of misunderstandings and many developers will use this loophole not to deliver what you had expected. To write down a functional specification is hard, specially if you have no prior experience. We developed a service package to help you deal with this challenge. </p>
          </div>
          </a>

       </div>

    <!-- div que aparece 1 --> 

    <div id="collapse0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading0">
      <div class="panel-body">


      <div> 
        <div class="servdesc">
        <p>We all know how hard it is to speak the restrict IT language. Even though it is possible to do it without a masters in IT, truth is most of the times it will backfire. At IdeaNinja, we have the experience and knowledge you need. </p>
        <p>Our functional and technical specification will include low fidelity prototypes (wireframes), process definition through the use of flowcharts and the description of the technical requirements and technical constraints. </p>
        <p>The prototypes and processes are defined with you through interviews and reviews. Below you will find our packaged services.</p>
        <div id="serv_example">
          <a target="blank" href="/docs/functionalandtechnicalspecifications-ideaninja_example.pdf"><img src="images/icons/services/document_example.png"></a>
          <a target="blank" href="/docs/functionalandtechnicalspecifications-ideaninja_example.pdf">Take this document as an example of our work</a>
        </div>
        <p>Choose the one that suits you best and get in contact with us.</p>
        </div>

        <div class="servicerow">
          <div class="left fourservices">
            <h2 class="headingserv">Simple Webpage</h2>
            <p>1 page</p>
            <p>3 processes descriptions</p>
            <p>2 document reviews</p>
            <br>
            <p>490 €</p>
          </div>
          
          <div class="right fourservices">
            <h2 class="headingserv">Standard Website</h2>
            <p>10 pages</p>
            <p>6 processes descriptions</p>
            <p>3 document reviews</p>
            <br>
            <p>2380 €</p>
          </div>
        </div>

        <div class="servicerow">  
          <div class="left fourservices">
            <h2 class="headingserv">Complex Website</h2>
            <p>20 pages</p>
            <p>10 processes descriptions</p>
            <p>4 document reviews</p>
            <br>
            <p>4550 €</p>  
          </div>

          <div class="right fourservices">
            <h2 class="headingserv">Custom Package</h2>
            <p>It's custom!</p>
            <p>Contact us if neither of our packages satisfy your needs</p>
          </div>
      </div>
          
        <div class="calltoaction">
          <button data-toggle="modal" data-target="#servModal">Let's start doing Business</button>
        </div>
        <div class="calltoaction">
        <a href="contactus.html">
          <p>Still unclear? Contact Us</p>
          </a>
        </div>
        <div class="calltoaction">
          <a href="#panel3"><p>FAQ's</p></a>
        </div>
      </div>

    </div>
  </div>
  </div>
<!-- div de chamada 2 -->
  <div class="panel panel-default" id="panel1">
    <div class="panel-heading" role="tab" id="heading1">
      
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1" class="nodecor" id="linkpanel1">
      <div>
        <img src="images/icons/services/webdevelopment-icon.png" class="service-icons" alt="IT Development">
        <h2 class="headingserv">IT Development</h2>
        <p>Whether you want a simple website or a more complex service, we got a package specifically tailored for you. At IdeaNinja, our main concern is to be as transparent with you as possible, so our packages tell exactly what you will get, at what cost, and when.</p>
      </div>
      </a>

    </div>

  <!-- div que aparece 2 --> 
  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
    <div class="panel-body">

      <div>
      <div class="servdesc">
      <p>You need to develop a website for your business, but you can’t seem to choose your provider due to the risks it incorporates?</p>
      <p>We develop all the coding you need, from a website to any service you need to develop.</p>
      </div>
      <div class="servicerow">
        <div class="left fourservices">
          <h2 class="headingserv">Static Page</h2>
          <p>1 page no processes</p>
          <br>
          <p>180€</p>
        </div>

        <div class="right fourservices">
          <h2 class="headingserv">Simple Webpage</h2>
          <p>1 page including</p>
          <p>3 processes</p>
          <br>
          <p>3420€</p>
        </div>
      </div>
      <div class="servicerow"> 
        <div class="fourservices left">
          <h2 class="headingserv">Standard Website</h2>
          <p>10 pages including</p>
          <p>6 processes</p>
          <br>
          <p>10960€</p>
        </div>

        <div class="fourservices right">
          <h2 class="headingserv">Complex Website</h2>
          <p>20 pages including</p>
          <p>10 processes</p>
          <br>
          <p>19800€</p>  
        </div>
      </div>
      <div class="servicerow">
        <div class="oddservice fourservices">
          <h2 class="headingserv">Custom Website</h2>
          <p>It's custom, contact us</p> 
        </div>
      </div>

        <div class="calltoaction">
          <button  data-toggle="modal" data-target="#servModal">Let's start doing Business</button>
        </div>
        <div class="calltoaction">
        <a href="contactus.html">
          <p>Still unclear? Contact Us</p>
        </a>
          </div>
          <div class="calltoaction">
          <a href="#panel3"><p>FAQ's</p></a>
        </div>
      </div>

    </div>
    </div>
    </div>

<!-- div de chamada 3 -->
  <div class="panel panel-default" id="panel2">
  <div class="panel-heading" role="tab" id="heading2">

  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2" class="nodecor" id="linkpanel2">
    <div>
      <img src="images/icons/services/teste-icon.png" class="service-icons" alt="IT Product Testing">
      <h2 class="headingserv">IT Product Testing</h2>
      <p>One of the best practices in software development is to have your software tested by a different company than the one who developed it. And let’s face it, you are short in time anyway, at IdeaNinja we got the service package to test every piece of software you may have.</p>
    </div>
  </a>

  </div>

  <!-- div que aparece 3 -->
  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
    <div class="panel-body">

    <div>
      <div class="servdesc">
      <p>Let’s face it, time is short, and you can't spend all day doing tests on your software. That's why we created these packages to help you fight this problem.</p>
      <p>Our packages differ based on the number of functionalities and steps the software needs testing. It includes the development of a testing plan along with its realization, plus a final report with every conclusion taken from the tests.</p>
      <p>From your part, all we need is you to hand us the Functional and Technical Specifications, being this a requirement.</p>
          <div id="serv_example">
              <a target="blank" href="/docs/itproducttesting_example.pdf"><img src="images/icons/services/document_example.png"></a>
              <a target="blank" href="/docs/itproducttesting_example.pdf">Take this document as an example of our work</a>
        </div>
      </div>

    <div class="servicerow">
      <div class="fourservices left">
        <h2 class="headingserv">Small Testing Package</h2>
        <p>25 functionalities including</p>
        <p>125 steps</p>
        <br>
        <p>450€</p>
      </div>

      <div class="right fourservices">
        <h2 class="headingserv">Big Testing Package</h2>
        <p>50 functionalities including</p>
        <p>200 steps</p>
        <br>
        <p>865€</p>   
      </div>
    </div>

    <div class="servicerow">
      <div class="fourservices left">
        <h2 class="headingserv">Huge Testing Package</h2>
        <p>75 functionalities including</p>
        <p>375 steps</p>
        <br>
        <p>1300€</p>  
      </div>
      <div class="right fourservices">
        <h2 class="headingserv">Custom Package</h2>
        <p>If your project has more functionalities than the packages listed, just contact us and we will hand you a budget in no time </p>
      </div>   
    </div>


        <div class="calltoaction">
          <button data-toggle="modal" data-target="#servModal">Let's start doing Business</button>
        </div>
        <div class="calltoaction">
        <a href="contactus.html">
          <p>Still unclear? Contact Us</p>
        </a>
          </div>
          <div class="calltoaction">
          <a href="#panel3"><p>FAQ's</p></a>
        </div>
      </div>

    </div>
    </div>
    </div>

  <!-- Fim de collapsable 1st part-->
  <br>
  <!-- div de chamada 4 -->
  <div class="panel panel-default" id="panel3">
  <div class="panel-heading" role="tab" id="heading2">

  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3" class="nodecor" id="linkpanel3">

    <div>
      <h2 class="headingserv">FAQ's</h2>
  
          <p><u><strong>Functional and Technical Designs FAQ's</strong></u></p>
    </div>
  </a>
  </div>
  <!-- div que aparece 4 -->
  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
    <div class="panel-body">  

      <div class="qa">
       <p><strong>What’s a Technical Specification?</strong></p>
       <p>A technical specification is basically a technical blueprint that will guide an implementation. It may be considered the backbone of a project.</p>        
      </div>

      <div class="qa">
       <p><strong>What’s a Functional Specification?</strong></p>
       <p>A functional specification is a formal document used to describe in detail for software developers a product's intended capabilities, appearance, and interactions with users.</p>
      </div>
      <div class="qa">
       <p><strong>What’s a Process?</strong></p>
       <p>A process starts with an event that triggers the execution of several tasks to achieve a desired outcome.</p>
      </div>
      <div class="qa">
       <p><strong>What’s a Page?</strong></p>
       <p>A page, in the context of the service packages described above, are templates and/or customized pages that involve unique processes. A template is a layout of a page that is used repeatedly across the website.</p>
      </div>
      <div class="qa">        
       <p><strong>How’s the payment done?</strong></p>
       <p>Our payment is system is in two trenches, 50% at beginning of the project and 50% at the end of it. </p>
       <p>If you’re outside the Eurozone, you can pay using a SWIFT transfer in Euros, otherwise if you’re in the Eurozone you can use a SEPA transfer.</p>
      </div>
      <div class="qa">
       <p><strong>When can you start?</strong></p>
       <p>Our availability will depend on our team time constraints but to make sure just <a href="contactus.html">contact us</a> and we will get back to you in no time.</p>
      </div>
      <div class="qa">
       <p><strong>I don’t know how many processes and pages my project has.</strong></p>
       <p>No problem, we know this is a very specific topic, feel free to <a href="contactus.html">contact us</a> and we will tell you the amount of processes and pages your project has according to what you told us. Just make sure to describe your project as much as you possibly can so we give an accurate review.</p>
      </div>
    </div>
    </div>
    </div>
    <!-- div de chamada 5 -->
    <div class="panel panel-default" id="panel4">
    <div class="panel-heading" role="tab" id="heading2">

    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4" class="nodecor" id="linkpanel4">
    
       <p><u><strong>IT Development FAQ's</strong></u></p>
    </a>
    </div>
    <!-- div que aparece 5 -->
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body">  

      <div class="qa">
       <p><strong>What’s a Process?</strong></p>
       <p>A process starts with an event that triggers the execution of several tasks to achieve a desired outcome.</p>
      </div>
      <div class="qa">
       <p><strong>What’s a Page?</strong></p>
       <p>A page, in the context of the service packages described above, are templates and/or customized pages that involve unique processes. A template is a layout of a page that is used repeatedly across the website</p>
      </div>
      <div class="qa">
       <p><strong>How’s the payment done?</strong></p>
       <p>Our payment is system is in two trenches, 50% at beginning of the project and 50% at the end of it.</p>
       <p>If you’re outside the Eurozone, you can pay using a SWIFT transfer in Euros, otherwise if you’re in the Eurozone you can use a SEPA transfer.</p>
      </div>
      <div class="qa">
       <p><strong>When can you start? </strong></p>
       <p>Our availability will depend on our team time constraints but to make sure just <a href="contactus.html">contact us</a> and we will get back to you in no time.</p>
      </div>
      <br>
  
      </div>
      </div>
      </div>
      <!-- div de chamada 6 -->
      <div class="panel panel-default" id="panel5">
      <div class="panel-heading" role="tab" id="heading2">

      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5" class="nodecor" id="linkpanel5">

       <p><u><strong>IT Product Testing FAQ's</strong></u></p>
    </a>
    </div>
    <!-- div que aparece 6 -->
    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body">  


      <div class="qa">
       <p><strong>What’s a Technical Specification?</strong></p>
       <p>A technical specification is basically a technical blueprint that will guide an implementation. It may be considered the backbone of a project.</p>
      </div>
      <div class="qa">
       <p><strong>What’s a Functional Specification?</strong></p>
       <p>A functional specification is a formal document used to describe in detail for software developers a product's intended capabilities, appearance, and interactions with users.</p>
      </div>
      <div class="qa">
       <p><strong>Why are the Specifications a requirement?</strong></p>
       <p>The specifications are a requirement because they are the ones that give the foundation of your project. If your project doesn’t have specifications it’s hard to test the product's intended capabilities, appearance, and interactions with users, since there is no comparison point. </p>
      </div>
      <div class="qa">
       <p><strong>What’s a Functionality?</strong></p>
       <p>A functionality can be defined as the outcome of sequenced steps, for example password recovery.</p>
      </div>
      <div class="qa">
       <p><strong>What’s a Step?</strong></p>
       <p>A step can be defined as an action, for example a click or filling a form.</p>
      </div>
      <div class="qa">
       <p><strong>What’s agile development?</strong></p>
       <p>Put simply, agile development is one of the ways of managing IT development, on which there are many principles, but the main idea behind is to be able to “Deliver quickly, Change quickly and Change often”.</p>
      </div>
      <div class="qa">
       <p><strong>Do you support agile development?</strong></p>
       <p>Yes, we do support agile development because we believe in IT product testing it is favorable to have the client’s feedback during the process, to be able to do hand it as soon as possible.</p>
      </div>
      <div class="qa">
       <p><strong>How’s the payment done?</strong></p>
       <p>Our payment is system is in two trenches, 50% at beginning of the project and 50% at the end of it.</p>
       <p>If you’re outside the Eurozone, you can pay using a SWIFT transfer in Euros, otherwise if you’re in the Eurozone you can use a SEPA transfer.</p>
      </div>
    </div>
    </div>
    </div>
    <!-- fim de collapsable parte 2  -->
  

</article><!-- articleblock -->
    <%- include partials/_contactus %>
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/resources.html" data-colorscheme="dark" data-numposts="10"></div>
  <%- include partials/_footer %>
</body>
</html>