<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lean Product Testing</title>
  <meta  name ="description" content ="The number one reason why startups fail is the lack of product market fit. Having a Lean methodology to test and tune your product, will increase your chances for success."/>

    <link rel="canonical" href="https://ideaninja.io/lean_product_testing.html">
  <meta property="og:title" content="Lean Product Testing"
  <meta property="og:type" content="article">
  <meta property="og:description" content="The number one reason why startups fail is the lack of product market fit. Having a Lean methodology to test and tune your product, will increase your chances for success." />
  <meta property="og:url" content="https://ideaninja.io/lean_product_testing.html"/>
   <meta property="og:image" content="https://ideaninja.io/images/articles/lean-product/lean-methodology.jpg" />
   <%- include partials/_og_partial.ejs %> 

  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
   <%- include partials/_googleanalytics.ejs %>
     <%- include partials/_favicon.ejs %>  
</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
  <header id="intro">
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
      <h1>Lean Product Testing</h1>
    <div>
      <p id="author">Author: Mariana Rodrigues <br>
      2017-01-13 <br>
      Tags: Product testing, Iteration, Product Development, Customers, Feedback, Lean </p>
      <div class="fb-like" data-href="https://ideaninja.io/lean_product_testing.html" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    <%- include partials/_socialshares.ejs %>   
    </div>
    <div id="articlebody">
      <p>The number one reason why startups fail is the lack of product market fit. Having a Lean methodology to test and tune your product, will increase your chances for success.</p>
      <p>Starting a company is risky, that’s inevitable. Eric Ries’ The Lean Startup book offers a scientific methodology that guide startups in an environment of extreme uncertainty. It makes them move faster, reduce their investment or working time, and consequently, the risk associated with it.</p>
      <h2>Why feedback is important</h2>
      <p>Entrepreneurs and product developers put much time and effort on getting their product ready to launch. And commonly, that is the first time they receive the first insight from customers. After months of development, their attempt to sell the product goes to failure. They realize that the customers don’t understand or need the product or its features.</p>
      <p>Lean startup methodology focuses on making the process of introducing new products into the market efficient. Thus, avoiding wasting time and resources in those features clients don’t want. This efficiency outcomes from gathering feedback from potential clients. By collecting, as much as possible, reactions and responses from targeted customers over all elements of their product or overall business. You can achieve that by prototyping, creating a minimum viable product, and product testing. For more information on prototyping you can check out our article <a href="http://ideaninja.io/prototyping.html" target="blank">Guide to Prototyping</a>.</p>
      <img src="images/articles/lean-product/lean-methodology.jpg" id="articleimg" alt="lean methodology startup">
      <h2>Failing fast and continuous learning</h2>
      <p>The Lean Startup process encourages entrepreneurs to fail, fail fast to grow faster. Don’t assume what your market wants! Start testing your products or services in early stages of development and this will allow you continuous learning throughout your product development. To do so, this methodology suggest you to start by developing an minimum viable product.</p>
      <h2>1. Develop an MVP</h2>
      <p>Don’t wait until you have the perfect product! Start by creating a minimum viable product (MVP), a version of your new product <i>“which allows a team to collect the maximum amount of validated learning about customers with the least effort”</i> (as described by Eric Ries). It will have your product’s basic characteristics but in a viable way for people to use. The use of a MVP allows you to put your product in customer hands in an early stage without needing a large investment, to learn as quickly as possible. More importantly puts you in front of your customer and opens the communication channels. By doing so, you will test fundamental hypotheses on your product, that may be crucial and determinant for development of following ones. Imagine what a snowball effect would create if you get wrong the basics of your product without testing it!</p>
      <p>Building the MVP will allow you to know if your customers even use your product or services before launching it to the market. But remember, you are only going for the bare minimum! The “rule” Eric Ries suggests is to put in 20% of product’s features that 80% of customers would use. So build something cheap and fast.</p>
      <h2>1.1. Who will you ask for feedback</h2>
      <p>Give your MVP to a targeted audience and take special attention not only to their feedback but also to their behavior, their interaction with the product or service. It will probably not be as you expected! Your perception on the product is commonly different from the one from your clients, that is why their feedback is so important. But who will  give you this feedback? We advise you to go for the early adopters of your product. They are the ones more predisposed to try and use new products, usually for a price, but they will give you relevant opinion. If you still don’t know who should be testing your product, it may be helpful  checking out our article on <a href="http://ideaninja.io/influencers_word_of_mouth.html" target="blank">Influencers - The key to Word of Mouth</a>.</p>
      <h2>2. Feedback Loop</h2>
      <p>For this moment forward is all about iteration. Gather customer’s feedback and use it to tailor and improve your product, learn about what can you change to make your product better. After the adjustments, test it again in the same or new customers. Use these new inputs to adapt, once more, your product. And by doing so, you are creating a cycle, a feedback loop. Repeat it over and over again, as many iteration as it takes, until you create a really good product or service.</p>
      <h2>2.1. Metrics</h2>
      <p>It’s all about build, measure, and learn! Thus, pay special attention on how do you measure the feedback to not use the wrong metrics. The ones you want are called actionable metrics, the ones that will lead you to informed and assertive conclusions. Some example of that can be the willingness to pay or purchase frequency.</p>
      <h2>2.2. Make it cheap and fast</h2>
      <p>The faster you pass through this cycle the faster your product will succeed. Hence, focus on having short cycles with incremental improvements instead of large leaps that are based on your assumptions, since these last ones will require much more investment that can go to waste. Make sure the way you test it is the cheapest and the fastest as possible to optimize and improve your business path.</p>
      <h2>2.3. Create hypothesis</h2>
      <p>The best way to start this iteration is by creating hypothesis on what do you want to test, becoming a hypothesis-driven experimentation. You may even split your test in two different products to experiment the impact of two different version or even simple features. But remember, all your experiments should be isolated tests without contamination. Test their effectiveness in the market and learn from the experiment.</p>
      <h2>3. Pivot</h2>
      <p>Pivot differs from iteration because you are not incrementally changing your product, but doing it fundamentally. Sometimes, after going through the cycle several times you come to the conclusion that your base expectations were wrong, and so you should pivot. You do it when needing substantial changes because your initial ideas are not being effective. You will no longer do small adjustment but, instead, you will completely change your initial idea. You can either change your product, essential features, or change the audience you were trying to sell it. This pivot will be mainly a correction in your direction, to test new ultimate hypotheses of your new product or service.</p> 
      <h2>3.1. Step up your competition</h2>
      <p>By correctly creating a feedback loop you will understand what is your suitable market (it may not be the one you expected in the beginning) and what it wants. And by doing so, you will be one step ahead of your competition! This because your will be receiving insights on the reactions and behavior from real users of your product, from the real world. And that is how your risk is reduced when using lean startup methodology.</p>
      <h2>Lean startup principles</h2>
      <p>Lean startup principles of failing fast and continuous learning are being successfully adopted all over the world, not only in startups but also in mature businesses. Eric Ries, the founder of this methodology, refers five key principles of the Lean Startup movement. Firstly, that <strong>entrepreneurs are everywhere</strong> and <strong>entrepreneurship is management</strong>, meaning that everyone can build a startup and if they do, it will be an institution and requires management. Then, to build a sustainable business you need <strong>validated learning</strong>, that you can achieve by experimentation of each element of your business vision. But still, to improve systematically, you need to measure, achieve milestones and prioritize work, and that entails <strong>innovation accounting</strong>. And Finally, the principle of <strong>Build-Measure-Learn</strong>, that as mentioned before is a vital activity for every startup that wants to succeed.</p>
      <h2>Final Remarks</h2>
      <p>Although the methodology is commonly perceived as focused on product development with customer’s insights, it goes beyond that and may be used to market development and the feedback may also come from partner or other stakeholders.</p>
      <p>Lean startup methodology focuses on experimentation over planning, trying to change companies extreme focus on business plans. This methodology goes more in line with business model canvas ideals instead of business plans, leading authors to develop a lean canvas model.</p>
      <p>The use of this methodology will give your startup a better chance to succeed by reducing waste and by not develop your product around your intuition but based on what the market wants. You can check more on the methodology and the movement on <a href="http://theleanstartup.com" target="blank" rel="nofollow">theleanstartup.com/</a>.</p>
      <p>Other article you may be interested in:</p>
      <ul>
        <li><a href="http://ideaninja.io/prototyping.html" target="blank">Guide to Prototyping</a></li>
        <li><a href="http://ideaninja.io/influencers_word_of_mouth.html" target="blank">Influencers - The key to Word of Mouth</a></li>
        <li><a href="http://ideaninja.io/books_for_entrepreneurs_curated_list_plus_video.html" target="blank">Books for entrepreneurs - Curated list plus video</a></li>
      </ul>
      

    </div>
    </article>
              <%- include partials/_contactus %>   
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/lean_product_testing.html" data-colorscheme="dark" data-numposts="10"></div>
   <%- include partials/_footer.ejs %>
</body>
</html>
