<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Startup Opinions | Idea Ninja</title>
  <meta  name ="description" content ="Opinions on how to start a business and on how to build your startup for better performance. From identifying the problem to developing an approach, and building it up is an essential part of what an entrepreneur job is. Learn here how to improve your entrepreneur skills."/>

  <link rel="canonical" href="https://ideaninja.io/opinions.html">
  <meta property="og:title" content="Startup Opinions | Idea Ninja" />
  <meta property="og:description" content="Opinions on how to start a business and on how to build your startup for better performance. From identifying the problem to developing an approach, and building it up is an essential part of what an entrepreneur job is. Learn here how to improve your entrepreneur skills." />
  <meta property="og:url" content="https://ideaninja.io/opinions.html" />
   <meta property="og:image" content="https://ideaninja.io/images/icons/favicon.ico" />
   <%- include partials/_og_partial.ejs %> 
 
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <%- include partials/_googleanalytics.ejs %> 
      <%- include partials/_favicon.ejs %>  
</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
  <header id="intro">
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="firsthomeblock">
      <h1>Startup Opinions</h1>
      <div id="toprow">
      <p>Opinions on how to start a business and on how to build your startup for better performance. From identifying the problem to developing an approach, and building it up is an essential part of what an entrepreneur job is. Learn here how to improve your entrepreneur skills.</p>
      </div>
    </article>

      <article id="horizontal">
      <h1><a href="basics_seo.html">Basics of SEO</a></h1>
      <p id="author"> Author: Miguel Teixeira , Raquel Nascimento </p>
      <p id="shortdesc">When you create a website, you want to have the most page views you can get. Therefore, appearing on one of the first positions of Google's search results page is key to generate lots of free traffic to your website.<a href="basics_seo.html">Continue reading</a></p>
    </article>

    <article id="horizontal">
      <h1><a href="how_improve_facebook_post_reach.html">How to improve your facebook post's reach</a></h1>
      <p id="author"> Author: Raquel Nascimento </p>
      <p id="shortdesc">>Facebook uses an algorithm to prioritize what is posted in the news feed. If you want to improve your startup's Facebook page reach, you should look into what edgerank is all about.<a href="how_improve_facebook_post_reach.html">Continue reading</a></p>
    </article>

    <article id="horizontal">
      <h1><a href="basics_of_accounting_for_entrepreneurs.html">Basics of accounting for Entrepreneurs</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">You have started your business, but you are a complete noob in accounting ? No worries we will teach you the basics of accounting for entrepreneurs.<a href="basics_of_accounting_for_entrepreneurs.html">Continue reading</a></p>
    </article>

    <article id="horizontal">
      <h1><a href="how_to_value_business_idea.html">How to value Business Ideas</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">Every day you have ideas, most of those ideas never becomes a business. And the main question is: Is this a good idea for starting a business ? <a href="how_to_value_business_idea.html">Continue reading</a></p>
    </article>
    <article id="horizontal">
      <h1><a href="entry-barriers-online-startup.html">Entry barriers for online startup</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">It is often said that for a online startup there are low entry barriers. Is this true or just another myth? <a href="entry-barriers-online-startup.html">Continue reading</a></p>
    </article>
    <article id="horizontal">
      <h1><a href="How-to-write-article-for-the-web.html">How to write an article for the web</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">Driving traffic to your website is probably one of the biggest Marketing challenges you have on your to-do list. Writing articles can go a long way. <a href="How-to-write-article-for-the-web.html">Continue reading</a></p>
    </article>
    <article id="horizontal">
      <h1><a href="How-to-drive-traffic-to-your-website-SEO.html">How to drive traffic to your website-SEO</a></h1>
      <p id="author"> Author: Miguel Teixeira</p>
      <p id="shortdesc">So you want to write an article for the web. There are lots of specifics. We will explain how you should do it. <a href="How-to-drive-traffic-to-your-website-SEO.html">Continue reading</a></p>
    </article>
      
      <article id="horizontal">
      <h1><a href="performance-why-use-CDN.html">Website performance and why should you use a CDN</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">Is your startup spending a lot of money on hosting or is your site sluggish. Learn why using a CDN might be the choice for you. <a href="performance-why-use-CDN.html">Continue reading</a></p>
      </article>
      
      <article id="horizontal">
      <h1><a href="idea-ninja-official-website-is-live.html">Idea Ninja official Website is live</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">Idea Ninja, the Entrepreneur Dojo, went live on 1st of April 2015.  ideaninja.io was created to address common obstacles found in the process of creating a business. We will help you execute by sharing through ideaninja.io how-to articles, resources found on the web and tools we developed. We will also show you different approaches to overcome obstacles found along the way. <a href="idea-ninja-official-website-is-live.html">Continue reading</a></p>
    </article>
     <article id="horizontal">
      <h1><a href="mentors_almost_everything_you_need.html">Mentors are almost everything you need</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">The challenge of creating a company can be daunting. Having the right skills you need to grow your startup is critical. Having Mentors in those areas will go a long way. <a href="mentors_almost_everything_you_need.html">Continue reading</a></p>
    </article>
    <%- include partials/_contactus %>
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/opinions.html" data-colorscheme="dark" data-numposts="10"></div>
  <%- include partials/_footer %>
</body>
</html>
