<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Startup Resources | Idea Ninja</title>
  <meta  name ="description" content ="Idea Ninja Resources will give you some of the best resources on the web to help you execute your startup dream."/>

  <link rel="canonical" href="https://ideaninja.io/resources.html">
  <meta property="og:title" content="Startup Resources | Idea Ninja" />
  <meta property="og:description" content="Idea Ninja Resources will give you some of the best resources on the web to help you execute your startup dream." />
  <meta property="og:url" content="https://ideaninja.io/resources.html" />
   <meta property="og:image" content="https://ideaninja.io/images/icons/favicon.ico" />
   <%- include partials/_og_partial.ejs %> 

  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <%- include partials/_googleanalytics.ejs %>
      <%- include partials/_favicon.ejs %>  
</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
  <header id="intro">
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="firsthomeblock">
      <h1>Startup Resources</h1>
      <div id="toprow">
      <p>Idea Ninja Resources will give you some of the best resources on the web to help you execute your startup dream.</p>
      </div>
    </article>
      <article id="horizontal">
      <h1><a href="Improve-your-website-design-free-photos.html">Improve your website design with free photos</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">We came up with a list of the top 10 totally free photo sites that you can use to improve your website design. <a href="Improve-your-website-design-free-photos.html">Continue reading</a> </p>
      </article>

      <article id="horizontal">
      <h1><a href="free-hosting-find-out-how.html">Free Hosting! Find out how</a></h1>
      <p id="author"> Author: Miguel Teixeira </p>
      <p id="shortdesc">Are you spending money on hosting ? No more! You can use github to host your site for free right now. Read this article to learn how. <a href="free-hosting-find-out-how.html">Continue reading</a> </p>
      </article>
    <%- include partials/_contactus %>
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/resources.html" data-colorscheme="dark" data-numposts="10"></div>
  <%- include partials/_footer %>
</body>
</html>
