<html>
  <%- include("partials/head", {
    description: "This is our purpose and manifesto. We are gradually increasing the number of writers AKA Ninjas to deliver more quality content to you. Here are the contributors" , 
    title: "About Us", 
    image: "/images/logo_components_color_2x_web_48dp.png", 
    href: "About.html", 
    type: "website"
}) %>

  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include partials/FAB_search %> 
      
      <div class=card-panel>

          <div class="article">

        <h1>Manifesto</h1>
        <br>
        <h2>The numbers</h2>
        <p>Numbers show that more than 90% of all startups fail. If that wasn't enough, research has shown that even-though information is more readily available than ever, the success rate hasn't changed significantly. As shown in the article reasons why startups fail, product - market fit, human resources, and marketing are still the main reasons startups fail. However the hype about entrepreneurship is heavily focused on other issues, like financing, partnerships and major innovation. The basics, like building a team for the job, creating a good product for the market and getting through to the client, continues to be less spoken of.</p>
        <h2>Specific aproach</h2>
        <p>Using the same big corporations approach to entrepreneurship, is like applying a formula to solve a different problem and expecting it to work. Entrepreneurship itself is a different management problem and requires a specific approach that does not revolve around making business plans and getting aprovall from management. At the same time a big corporations have the fundamental problems sorted out, while in a start up there are a lot of assumptions to be tested and improved uppon.</p>
        <h2>The myth</h2>
        <p>In the world of info-entertainment, entrepreneurship is described very poorly. Many shows give the impression that entrepreneurship is all about raising money, having loads of success and becoming a millionaire. However as previously discussed, the numbers show a very different reality. Entrepreneurship is more about, simplicity, testing assumptions, mitigating risk, and dealing with people. Getting the basics right, will go a long way.</p>
        <h2>The Rock star ilusion </h2>
        <p>Media has created the ilusion that the entrepreneur is the new rockstar.  In a sense it is true... If you look in the amount of punk rockers that live a tough life trying to live from their art. A miniscule fraction are regular stars, but another reality emerges. The ones that make it, create their business based on solid foundations and although they don't become stars, they are the true heroes of the story, in our book. They not only survive but thrive in a very competitive environment, because they got the basics right: A good product, a good approach to market, a good team, good risk management.</p>
        <h2>Entrepreneurs are Makers</h2>
        <p>People that get hands dirty! People that get lost! People that make mistakes! People that learn! People that are relentless! People that are resourcefull! People who are makers!</p>
                  </div> <!--article-->
        
        </div><!--cardpanel-->
        <!--Numbers-->

        <div class=card-panel style=" display: -webkit-inline-box" >
          <div class="article">
              <div class="contibutor_title">
                <h1>Numbers</h1>
                </div>

          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s4">
                  <h2>120</h2>
                </div>
                <div class="col s8">
                  <span class="black-text">
                    Trainning Hours specifically for entrepreneurship.
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s4">
                  <h2>40</h2>
                </div>
                <div class="col s8">
                  <span class="black-text">
                    Hours dedicated to promote cooperation between projects during the trainning period. 
                  </span>
                </div>
              </div>
            </div>
          </div>


          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s4">
                  <h2>80</h2>
                </div>
                <div class="col s8">
                  <span class="black-text">
                    Deliverables per project done under trainning supervision. 
                  </span>
                </div>
              </div>
            </div>
          </div>


          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s4">
                  <h2>45</h2>
                </div>
                <div class="col s8">
                  <span class="black-text">
                    combined years of experience in entrpreneurship.
                  </span>
                </div>
              </div>
            </div>
          </div>

      </div><!--article-->
      </div><!--Cardpanel-->

      <!--Testimonials-->

        <div class=card-panel style=" display: -webkit-inline-box" >
          <div class="article">
              <div class="contibutor_title">
                <h1>Testimonials</h1>
                </div>

          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s12">
                <span class="black-text">
                 “Para a SPOT foi muito importante este crescimento que a IdeaNinja nos proporcionou”
                </span><br>
                <span class="black-text">
                  Francisco Miranda, Founder of SPOT
                </span>
              </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s12">
                  <span class="black-text">
                    “(...) não foi só uma exposição de como fazer as coisas ou de abrir a nossa perspectiva a como se deve fazer a implementação de um projecto, foi também colocar em prática, logo na altura da formação. Isso é fantástico e ajuda-nos realmente mesmo a fazer crescer o projecto de uma forma muito imediata ”
                    </span>
                    <br>
                    <span class="black-text">
                    Verónica Milagres, Founder of Rádio Miudos
                    </span>
                  </div>
                </div>
              </div>
            </div>


          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s12">
                  <span class="black-text">“Foi promovida a colaboração entre todos os projectos (...) o resultado disso foram um conjunto de parceria formais ou quase formais que surgiram daí“</span>
                  <br>
                  <span class="black-text">Nuno Cabaço, Santa Casa da Mesericordia de Lisboa</span>
                  </div>
              
              </div>
            </div>
          </div>


          <div class="col s12 m6">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                
                <div class="col s12">
                  <span class="black-text">“Muito recomendável para quem queira lançar uma ideia com sucesso.”</span>
                  <br>
                  <span class="black-text"> Elena Duran, Founder of 55+</span>
                  </div>

                </div>
              </div>
            </div>
          


      </div><!--article-->
      </div><!--Cardpanel-->




     <!-- Mentors and Trainers-->

        <div class=card-panel style=" display: -webkit-inline-box" >
          <div class="article">
            <div class="contibutor_title">
              <h1>Mentors & Trainers</h1>
              </div>

        <%- include("partials/mentors", {
          image: "images/avatars/mteixeira.jpeg", 
          title: "Miguel Teixeira", 
          areas: "Marketing, IT, Product Development, Finance, HR, Project Management",
          experience: "+8 year experience in startups has a founder.",
        }) %>

        <%- include("partials/mentors", {
          image: "images/avatars/jlagido.jpeg", 
          title: "João Lagido", 
          areas: "Branding, comunication",
          experience: "+18 years experience in startups and has freelancer.",  
        }) %>

        <%- include("partials/mentors", {
          image: "images/avatars/fmiranda.jpeg", 
          title:  "Francisco Miranda", 
          areas: "Product Development, Business Development", 
          experience: "+9 years experience has an entrepreneur has a founder",  
        }) %>
        <%- include("partials/mentors", {
          image: "images/avatars/fneves.jpeg", 
          title: "Francisco Neves", 
          areas: "Ideation, Growth strategies, Business development", 
          experience: "+5 years experience in startups has founder, manager and consultant",  
        }) %>

        <%- include("partials/mentors", {
          image: "images/avatars/lcosta.jpeg", 
          title: "Luis Costa", 
          areas: "Impact mesurement", 
          experience: "+4 years experience in social organizations, +2 has impact mesurement expert",  
        }) %>

        <%- include("partials/mentors", {
          image: "images/avatars/jlopes.jpeg", 
          title: "Joana Lopes", 
          areas: "Prototyping and product development", 
          experience: "+4 years experience in startups",
        }) %>
      </div><!--article-->
      </div><!--Cardpanel-->



        <!-- Blog Contributers-->

        <div class=card-panel style=" display: -webkit-inline-box" >
          <div class="article">
        <div class="contibutor_title">
          <h1>Blog Contributers</h1>
          </div>

        <%- include("partials/contributor", {
          image: "images/avatars/MTavatar.jpeg", 
          title: "Miguel Teixeira", 
          description: "Miguel has a degree in Marketing, he has an MBA and has worked in technology for almost 15 years.He has founded several startup projects including Idea Ninja.", 
          href: "http://www.linkedin.com/in/miguelteixeira/en", 
        }) %>

      <%- include("partials/contributor", {
          image: "images/avatars/MRavatar.jpeg", 
          title: "Mariana Rodrigues", 
          description: "Mariana has a Master in Managementat ISCTE-IUL. She was an Marketing intern at IdeaNinja, focused on branding coordination and product development.", 
          href: "https://www.linkedin.com/in/mariana-rodrigues-06859872", 
        }) %>

      <%- include("partials/contributor", {
          image: "images/avatars/TRavatar.jpeg", 
          title: "Tiago Rodrigues", 
          description: "Tiago has a management degree at ISCTE-IUL, and was Marketing intern at IdeaNinja. He was also involved in YA Generation, an entrepreneurship association for college students.", 
          href: "https://www.linkedin.com/in/tiagorodrigues96/", 
        }) %>

        <%- include("partials/contributor", {
          image: "images/avatars/MGavatar.jpeg", 
          title: "Mariana da Silva Godinho", 
          description: "Mariana is currently taking a Journalism degree at ESCS (Instituto Politécnico de Lisboa) and was a trainee at IdeaNinja. She has been focused in Digital Marketing and Content Creation.", 
          href: "https://www.linkedin.com/in/mariana-da-silva-godinho-0a7a23bb/", 
        }) %>
       <%- include("partials/contributor", {
          image: "images/avatars/RNavatar.jpeg", 
          title: "Raquel Nascimento", 
          description: "Raquel has a management degree at ISCTE-IUL and was a Marketing Internship at Idea Ninja and was a board member of  YA Generation, an entrepreneurship association for college students.", 
          href: "https://www.linkedin.com/in/raquelmnascimento", 
        }) %>
      </div><!--article-->
      </div><!--Cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>