<html>
  <%- include("partials/head", {
    description: "An entrepreneur doesn't need to be an accountant, but understanding a balancesheet, a income statement and cashflow is paramount." , 
    title: "Basics of Accounting for entrepreneurs", 
    image: "images/articles/accounting-entrepreneurs/accounting.jpg", 
    href: "basics_of_accounting_for_entrepreneurs.html", 
    type: "article"
}) %>
  <%- include("partials/head_art", {
    published: "2016-03-18", 
    modified_time: "2017-12-11", 
    author: "Miguel Teixeira "
}) %>
  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include("partials/FAB_share", {
        href : "basics_of_accounting_for_entrepreneurs.html"
        }) %>
        
      
      <div class=card-panel>


        
          <%- include("partials/article_title", {
            title: "Basics of Accounting for entrepreneurs", 
            author: "Miguel Teixeira", 
            modified_time:"2017-12-11", 
            tags: "Finance, accounting, entrepreneurship"  
            }) %>

          <div class="article">






          </div> <!--article-->
        
        </div><!--cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>