<html>
  <%- include("partials/head", {
    description: "An entrepreneur doesn't need to be an accountant, but understanding a balancesheet, a income statement and cashflow is paramount." , 
    title: "Basics of Accounting for entrepreneurs", 
    image: "images/articles/accounting-entrepreneurs/accounting.jpg", 
    href: "basics_of_accounting_for_entrepreneurs.html", 
    type: "article"
}) %>

  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include("partials/FAB_share", {
        href : "basics_of_accounting_for_entrepreneurs.html"
        }) %>
        
      
      <div class=card-panel>



          <div class="article">
            <p>Do you have a business idea? Do you wish to know if it is any good? Test here! This application will evaluate your business idea. From evaluating the market you are in, the market fit, the competitive advantage, the growth potential and the barriers to enter and at the end present you with a final veridict. More then the result itself we take you through a journey to help you understand the ins and outs of your business idea.</p>
            <p>This tool is based on the article
               <a href="how_to_value_business_idea.html" target="blank">"How to value Business Ideas"</a>
                    </p>



          </div> <!--article-->
        
        </div><!--cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>