<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title id="tit" >Contact US | Idea Ninja</title>
  <meta name ="description" content ="We would love to hear from you. If you have any question, suggestion, feedback or want to become a contributor drop us a line, and we will get back to you."/>

  <link rel="canonical" href="https://ideaninja.io/contacus.html">
  <meta property="og:title" content="Contact US | Idea Ninja" />
  <meta property="og:type" content="website">
  <meta property="og:description" content="We would love to hear from you. If you have any question, suggestion, feedback or want to become a contributor drop us a line, and we will get back to you." />
  <meta property="og:url" content=="https://ideaninja.io/contacus.html" />
  <meta property="og:image" content="https://ideaninja.io/images/icons/favicon.ico" />
<%- include partials/_og_partial.ejs %>  
  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <%- include partials/_favicon.ejs %>  
  <%- include partials/_googleanalytics.ejs %>
</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
  <header id="intro"> 
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="firsthomeblock">
      <h1>Contact US</h1>
      <div>     
      </div>
      <div id="toprow">
      <p>We would love to hear from you. If you have any question, suggestion, feedback or want to become a contributor drop us a line, and we will get back to you.</p>
      <%- include partials/_contactform.ejs %>
      </div>
    </article>
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/contactus.html" data-colorscheme="dark" data-numposts="10"></div>
  <%- include partials/_footer.ejs %>
</body>
</html> 
