<html>
  <%- include("partials/head", {
    description: "Idea Ninja is dedicated to work with you to develop your startup into a successful venture. We will share with you the secrets, tools and lessons learned that will allow you to leapfrog the competition, reduce costs, minimize risks and grow." , 
    title: "Entrepreneur Dojo", 
    image: "/images/logo_components_color_2x_web_48dp.png", 
    href: "", 
    type: "website"
}) %>

  <%- include("partials/head_analytics") %>

  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>

    <div class="container background">

      <div class="row">
        
        <%- include partials/FAB_search %>


        <div id="cardsrow">
          <div id="searchheader"></div>
          <div id="endofcards"></div>
        </div> <!-- cardsrow-->
          </div><!-- Row -->

        </div><!--container -->      
    </div>

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
        
  </body>
</html>