<html>
  <%- include("partials/head", {
    description: "Take a journey into the world of Word of Mouth strategy and learn how to start an epidemic." , 
    title: "Influencers - The key to Word of Mouth", 
    image: "/images/articles/influencers/word-of-mouth.jpg", 
    href: "influencers_word_of_mouth.html", 
    type: "article"
}) %>
  <%- include("partials/head_art", {
    published: "2017-01-13", 
    modified_time: "2017-12-11", 
    author: "Mariana Rodrigues"
}) %>
  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include("partials/FAB_share", {
        href :"influencers_word_of_mouth.html"
        }) %>
        
      
      <div class=card-panel>


        
          <%- include("partials/article_title", {
            title: "Influencers - The key to Word of Mouth", 
            author: "Mariana Rodrigues", 
            modified_time:"2017-12-11", 
            tags: "Influencers, Word of Mouth, Marketing"  
            }) %>

          <div class="article">
<p>Who are influencers and how their impact your business? Take a journey into the world of Word of Mouth strategy and learn how to start an epidemic.</p>
      <p>To sell a product or gain brand awareness you commonly need to spread a message. A message regarding your brand or your products. What most brands want is to create an epidemic around their message. Make everyone talking about it! Word of Mouth is becoming a valuable marketing practice and brands are learning to manipulate to do exactly that. Traditionally, Word of Mouth occurred naturally through customers that had something to say about your brand or product (good or bad). Nowadays, contrarily, you can induce it and make people start talking about it, widely! Ultimately, a Word of Mouth strategy succeeds when customers not only spread the word but also take actions about it.</p>
      <p>Influencers are key sources to start this epidemic around your brand or product. For that reason, having a Word of Mouth strategy is key to grow your awareness. Influencers are the keystone to that strategy.</p>
      <img src="images/articles/influencers/word-of-mouth.jpg" id="articleimg" alt="word of mouth">
      <h2>Who are the influencers?</h2>
      <p>Malcolm Gladwell in his book “The Tipping Point”, goes on over the three factor that make and idea reach the tipping point and engender an epidemic: the law of the few, the stickiness factor, and the power of context. He believes it all start with the power of influencers to spread messages, identifying them as people with significant power over trends. Thus, they are divided in three types that represent about 20% of the population: Mavens, Connectors, and Salesmen.</p>
      <h2>1. Mavens</h2>
      <p>Mavens are usually experts, or with overpowering knowledge in a field that incite their influence by sharing their understanding and experience with others. And that is what makes them so successful in transmitting their ideas, not because they are persuasive but because they are perceived as specialists. These opinion leaders feel the need of being constantly learning, reason why they are always on top of the newest trends and technologies. That fact makes them educate their audience instead of being sellers.</p>
      <p>People look up to Mavens, and they may be your entering point into the market, into early-adopters. Frequently, these are the types of influencers more willing to help you if they do like your product. But as good as they might be for your business, they also have the power to ruin it. Some examples of these influencers are bloggers, celebrities, review sites, YouTube stars, journalists, talk show hosts, or niche media.</p>
      <h2>2. Connectors</h2>
      <p>Influencers can also be Connectors, people who have built a wide network of people, and are able to reach large groups of friends or other social connections. Connectors may even relate themselves to other Connectors making their network even wider. These people have very strong social skills, that enable them to maintain relationships with people from different backgrounds but receptive to their opinions. These rich connections turn them into trendsetters since their message is passed promptly to a broad social circle. The growth of social media platforms in people’s daily life has increased the power of these influencers and can be the perfect link between your brand or product and your targeted audience, so choose them wisely!</p>
      <h2>3. Salesmen</h2>
      <p>The final archetype Malcolm Gladwell identifies are Salesmen, and these are the most charismatic influencers of them all. They influence others by persuasion, having the power of convincing or selling their ideas to others. Their conviction and confidence on what they say make people trust them and their opinions.</p>
      <h2>What makes a influencer relevant to my brand</h2>
      <p>Influencers are important simply because customers are more receptive to their recommendations and opinions. If you make them real users of your product, you can even use them as testimonial advertising, making their opinion even more credible. However, influencers (specially Mavens) can be targeted to test your product and receive feedback. Check out how important is to receive customers’ feedback on our article on <a href="lean_product_testing.html" target="blank">Lean Product Testing</a>.</p>
      <h2>Different goals, different influencers</h2>
      <p>As mentioned previously, there are influencers that succeed the most on teaching, others persuading, and others communicating something to a targeted audience, so start reaching them and putting your products in their hands! If you are only trying to spread the word you might go for the Connector, if you are trying to sell your product go for the salesman, but if you want to educate your customers on your product or even sell it go for the Mavens. Ultimately you should approach all three if you want to have a strong Word of Mouth strategy and build an epidemic.</p>
      <h2>What is the right influencer</h2>
      <p>To reach the right influencer you need to make sure there is a perfect fit between your brand and the influencer, you achieve that by accomplish three main criterias:</p>
      <ul>
        <li><strong>Industry</strong>: the influencer should relate as much as possible with your industry. For example, getting your food truck reviewed by Anthony Bourdain (Maven and Connector) would boost your awareness considerably.</li>
        <li><strong>Traction</strong>: after you define your target audience, make sure the influencer can get to them. Simultaneously, your influencers should not only have a considerable number of targeted followers, but should also be able to generate interaction and engagement with them.</li>
        <li><strong>Personality and values</strong>: Make sure there is a match between your brand and the influencer personality. If the influencer will share content about your products, it should be in line with your brand image, personality, and your own content strategy. This alignment has extreme importance since it might influence your brand’s reputation.</li>
      </ul>
      <h2>Let the influencer do their job</h2>
      <p>One important advice you should follow is: don’t try to do all the work! Influencer marketing succeed because customers trust the influencer as a credible source. If you try to decide every little thing the influencer will say or do, even if you are paying him/her for it, it may not have the impact you would want. The best way to boost the impact of your influencer campaign is by making them show your product in their own channels, with their own words. Nevertheless, it is always good to invite them to participate on yours channels and content development.</p>
      <h2>Create an excellent relationship</h2>
      <p>Influencers, as much as they can be helpful for your company, they are not part of your company. This mean that the way you interact with them is important, and it is a relationship you must work on to be meaningful and lasting. It all start with creating mutually beneficial relationship. Your brand cannot be the only one that benefits from this association, you must create value for the influencer. You can do it monetarily, with rewards, you can give them more visibility on your platforms, or any other alternative that is valued by them.</p> 
      <h2>Final Remarks</h2>
      <p>Influencer marketing opens a new form of marketing for you to get directly to your customers, it helps you strengthen and amplify your message. Thus, the right association might be vital for your success.</p>
      <p>Choose your influencers carefully, work on your relationship with them and measure the results. The best influencers will be the ones who can not only share awareness but also create action. This action can be translated in sales, number of likes on a page, or any other considered relevant to your business.</p>
      <p>Other article you may be interested in:</p>
      <ul>
        <li><a href="motivation-types.html" target="blank">Motivation Types</a></li>
        <li><a href="press-media-kit.html" target="blank">Media and press kit: how to for startups</a></li> 
      </ul>


          </div> <!--article-->
        
        </div><!--cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>