<html>
  <%- include("partials/head", {
    description: "The challenge of creating a company can be daunting. Having the right skills you need to grow your startup is critical. Having Mentors in those areas will make you go a long way." , 
    title: "Mentors are almost everything you need", 
    image: "images/articles/mentors-need/free_advice.jpg", 
    href: "mentors_almost_everything_you_need.html", 
    type: "article"
}) %>
  <%- include("partials/head_art", {
    published: "2016-03-18", 
    modified_time: "2017-12-11", 
    author: "Miguel Teixeira "
}) %>
  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include("partials/FAB_share", {
        href : "mentors_almost_everything_you_need.html"
        }) %>
        
      
      <div class=card-panel>


        
          <%- include("partials/article_title", {
            title: "Mentors are almost everything you need", 
            author: "Miguel Teixeira", 
            modified_time:"2017-12-11", 
            tags: "Mentorship, learning"
            }) %>

          <div class="article">

 <p>The challenge of creating a company can be daunting. Having the right skills you need to grow your startup is critical. Having Mentors in those areas will make you go a long way.</p>
      <h2>You can't know everything</h2>
      <p> In a startup there are many hats you need to fill in. Product Management, Marketing, Software Development, HR or Web design are some of the examples. Most probably you will find areas where you are not an expert, but due to cost and time restrictions you will need to tackle them yourself. Tackling a new area of knowledge is filled with hurdles and you may need guidance, and thus finding an expert that will serve as a mentor is gold. However, as always, there are a ton of resources online that will explain you how to do it.</p>
      <h2>Finding your mentors</h2>
      <p>First, navigating through a new skill is a hustle. And getting that first step right is so critical. Mentors can have a huge influence pointing you into the right direction. In other words, you need help finding good content and avoiding all of the bad advices and clutter that you can find on the web. In such moments, it is crucial to find a mentor. A mentor can be someone you know or anyone who has the knowledge you need and you can ask for directions. If it is someone you don't know, you can look for:</p>
      <ul>
        <li>Bloggers who are experts in the subject you are looking for,</li>
        <li>Top forums contributors - search for users with a lot of points or answers and try to get in contact with them,</li>
        <li>Authors of technical books and look for seminars that have been posted on YouTube.</li>
      </ul>   
      <p>If it is someone you know, it can be a:</p> 
      <ul>
        <li>Friend,</li>
        <li>Former co-worker,</li>
        <li>Teacher from college.</li>
      </ul>   
      <p>Basically, an expert that will lead you into the right track. You may not have the luck of having someone that you can contact to give the guidance you need. In that case, you should consider getting online training. The right training can cost you as little as 25$ and it can be worth gold. You can also enter a mentoring program.</p>
      <img src="images/articles/mentors-need/free_advice.jpg" id="articleimg" alt="Advice Mentorship picture">
      <h2>Be aware of how much you don't know</h2>
      <p class="quote">"<i>Real knowledge is to know the extend of one's ignorance</i>", Confucious</p>
      <p>When tackling a new theme or area of knowledge, it is hard to clearly identify what your problems will be and what resources you may need. So, trying to anticipate them won't be a precise task, but you should do it anyway. Contact your mentors as soon as possible to clarify doubts and, most importantly, give you a framework you can work with.</p>
      <h2>Last piece of advice</h2>
      <p>Summing up, while creating a startup, you will find many new challenges. Several of those challenges will be new areas of knowledge. To steepen the learning curve, get a mentor. Try to come up with questions and themes as early as you can and pick the adult's brain as best as you can. Most importantly, get in the right path. It will save you a ton of pain.</p>




          </div> <!--article-->
        
        </div><!--cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>