<html>
  <%- include("partials/head", {
    description: "Getting your startup covered by the media is very important. The press helps publicize your product, services or brand, however it can also damage the reputation of a brand. We will explain how and why you should have both Media and Press Kit." , 
    title: "Media and press kit: how to for startups", 
    image: "/images/articles/media-press-kit/business.jpg", 
    href: "press-media-kit.html", 
    type: "article"
}) %>
  <%- include("partials/head_art", {
    published: "2016-12-28 ", 
    modified_time: "2017-12-11", 
    author: "Mariana da Silva Godinho"
}) %>
  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include("partials/FAB_share", {
        href : "press-media-kit.html"
        }) %>
        
      
      <div class=card-panel>


        
          <%- include("partials/article_title", {
            title: "Media and press kit: how to for startups", 
            author: "Mariana da Silva Godinho", 
            modified_time:"2017-12-11", 
            tags: "media kit, press kit, journalists, social media"
            }) %>

          <div class="article">
<p>Getting your startup covered by the media is very important. The press helps publicize your product, services or brand, however it can also damage the reputation of a brand. We will explain how and why you should have both Media and Press Kit.</p>
    <img src="images\articles\media-press-kit\business.jpg" id="articleimg" alt="business">
    <h2>Press kit vs. media kit</h2>
    <p>The best way to be recognized by the press is through kits that spare journalists the trouble of having to research about your startup. There are two type of kits: media kits and press kits. The media ones are tangible, and include elementes such as postcards or brochures and the press kits are digital.  Next we will dive into the ins and outs of media and Press Kits.</p>
    <h2>Media kit</h2>
    <p>The media kit is something you deliver to a journalist, in order to introduce your company and help him run articles about your business. These are the characteristics and elements that compose a Media Kit:</p>
    <blockquote>
    <ul>
      <li>Not digital - tangible kit,</li>
      <li>Flyers - Branded and simple,</li>
      <li>Service summary - a A4 page with all the most important information about the services your startup provides,</li>
      <li>Postcards/pens/bookmarks (gifts) - something that is useful and reminds the journalist of your brand,</li>
      <li>Folder - Helps in the presentation of the kit and is one of the most visible branding elements,</li>
      <li>Stats - Try to create good impression with interesting facts and statistics about your startup,</li>
      <li>About Us - a brief paragraph where you present your business and its goal,</li>
      <li>Contact card - Creating a liaison between the journalist and the company is fundamental, include the basics like phone number, address and email,</li>
      <li>Social media accounts - always try to be explicit about all the social networks in where your business is, this way the journalists may follow your company posts.</li>
    </ul>
    </blockquote>
    <h2>Press kit</h2>
    <p>A press kit is an online page in your website where journalists can find information they want about your company.</p>
    <blockquote>
    <ul>
      <li>Digital - online kit,</li>
      <li>History/About Us/Manifesto - a more detailed text with all the information about your company that might be interesting for the journalists,</li>
      <li>Company facts - More detailed statistics than in the Media Kit,</li>
      <li>Customer reviews - Use quotes from happy customers to improve on credibility,</li>
      <li>Logo Images - Make all your business logos available and explain how to use them,</li>
      <li>Organizational culture of the company - The culture is the be all and end all of an organization. It defines the work environment, defines how do you communicate with your customers and how does your startup makes decisions.To understand a little bit more about the company culture read our <a href="recruiting_startup.html" target="blank"> article about recruiting in a Startup</a>,</li>
      <li>The team - present the people behind the project,</li>
      <li>Media publications - make reference of media coverage about your company.</li>
    </ul>
    </blockquote>
    <h2>Only Press?</h2>
    <p>The idea behind these kits, was originaly to be directed specifically for the press, television, radio. Nowadays Press should includes influencers (influential people on social networks) and  bloggers as well. So you should create and send Media Kits and press Kits to both old schools press and influencers or bloggers.</p>
    <h2>Your target</h2>
    <p>There are a lot of newspapers and magazines in every country, so the first step is to filter them by themes. You should choose the ones where your business can be published and, at the same time, those who have a significant number of followers. To choose the journalists to target, two important aspects have to be taken into account:</p>
    <ul>
      <li>The theme that journalists talk about - if your startup is, for example, technology related, the journalists you will try to address are the ones that write about technology, not about politics, for example. Searching the newspapers for the journalists who write the most about your theme will make your efforts more effective,</li>
      <li>Journalists on social networks - Like newspaper or magazine, a journalist must have an audience on social networks and actively post information on it.</li>
    </ul>
    <p>If your target is small, it means that you can focus on them and prepare a more involving strategy, to win them over. On the other hand, if your target is large, you may need to prioritize your target.</p>
    <h2>Average vs. Outstanding</h2>
    <p>If you want to make an impact, you have to be creative. Just delivering the media kit is not enough. Your kit needs to stand out, amongst thousands of press kit and Media Kits. It has to be something original, something that makes a difference and is rememberable. You can innovate in the elements of the kit itself or in the way you deliver it or follow through. For example, here at Idea Ninja, we could contract an actor to dress up as a Ninja and make him deliver our kit. The journalist would never forget that an actual Ninja delivered the kit and will definitely be curious about it. For the press kits is more difficult to innovate, because it is an online page. However you can always find ways to make it more interactive and interesting. For example, making a video presenting your business to complement the written information. These first impressions are important to develop a relation with the journalists. If they are impressed, you will be covered by the media, allowing for “free” publicity.</p>
    <h2>How do you get louder?</h2>
    <p>Unlike a press kit, a Media Kit is active. So you must try to use it to approach the Media and spread your word of mouth. You can deliver your kit in hand (example: in an event that you know  will be covered by media), send it by mail. The more you spread your kit, the more likely you are to be covered. But this is only the start. After you have created a relationship with a journalist you need to continue interacting with them:</p>
    <ul>
      <li>Prepare and use press release often with relevant and entertaining information,</li>
      <li>Ask feedback,</li>
      <li>Engage in a conversation about the future of your company and the industry.</li>
    </ul>
    <h2>Kit distribution - Locally vs. Globally</h2>
    <p>The media kits are costly, so you need to define a clear target. There are two strategy when it comes to approach Media. You either do it:</p>
    <ul>
      <li>Locally - if you’re not sure you’ll have success, start with a small target, locally. Being local and small makes it easier to get feedback and improve Kits. Furthermore doing it locally and small is cheaper,</li>
      <li>Globally - If you want to go big immediately and it doesn’t matter how effective your are, go global. It will cost you more, but you will reach many more journalists.</li>
    </ul>
    <p> Although the Global option increases the chances of having more media coverage, here at Idea Ninja, we suggest you first try doing it locally and tune your kit. Only after improving the effectiveness of the kit, should you go global.</p>
    <h2>Relationship with Media</h2>
    <p>Engaging the Media is an art form. You should promote proximity, but also be aware that the media can make it or break your reputation. In the case of something backfiring, it will be much easier to manage if you have a good relationship with the journalists, bloggers and influencers than, if you have no relationship at all. Creating, promoting and maintaining good relationship with the media, is one of your biggest challenges.</p>
    <h2>Final Remarks</h2>
    <p>Having the Media on your side makes your life a lot easier as an entrepreneur. Making it easy for Journalists to talk about your brand is very important in developing a good relation with the press. To develop a good relationship we advise you to:</p>
    <ul>
      <li>Have both kits: press and media kit,</li>
      <li>Share them with the press, and also with influencers and blogs,</li>
      <li>Have an original Media Kit,</li>
      <li>Choose between a local or global distribution strategy.</li>

    </ul>

          </div> <!--article-->
        
        </div><!--cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>