<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Startup Services | Idea Ninja</title>
  <meta  name ="description" content ="Idea Ninja Resources will give you some of the best resources on the web to help you execute your startup dream."/>

  <link rel="canonical" href="https://ideaninja.io/services.html">
  <meta property="og:title" content="Startup Resources | Idea Ninja" />
  <meta property="og:type" content="website">
  <meta property="og:description" content="Want to start a web based application, but we do not have technical founders Do you know how to develop or design a product ? Have you had bad experience with suppliers ? Have you tried to implement himself ? Most importantly: Is it efficient ?" />
  <meta property="og:url" content="https://ideaninja.io/services.html" />
   <meta property="og:image" content="https://ideaninja.io/images/icons/default.png" />
   <%- include partials/_og_partial.ejs %> 

  <link rel="stylesheet" href="css/style.css"/>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <%- include partials/_googleanalytics.ejs %>
      <%- include partials/_favicon.ejs %>  
</head>
<body>
 <%- include partials/_FBcomments_pluggin.ejs %>
 <%- include partials/_serv_modal.ejs %>
  <header id="intro">
    </article>
    <%- include partials/_nav.ejs %>
  </header>
<main id="wrapper">
  <div class="scene" id="bodyhome">
    <article id="articleblock">
      <h1>Startup Services</h1>
      <div id="articlebody">
        <p>Entrepreneurs are makers.  Research, Learn, Do is the process by which we all operate. Eventually we all need a little support. And let's face it, we are all biased when it comes to our business and a second opinion is often what you need to take your company or project to the next level.</p>
        <p>At IdeaNinja, we understand that a  startup must be able to iterate. Our services are designed around that premise. We uphold a framework specifically for startups. We believe that being able to jump through a specific set of basic challenges, will go a long way making sure your startup is successful. At IdeaNinja, the price is set, duration is fixed and you know exactly what you are going to get.</p>

        <h2 class="service_group" id="serv_pd">Product Development</h2>
        <p>The number one reason why startups fail is bad product to market fit! Everyone needs a hand. We can either review your work or mentor you through the process of developing a kick ass product:</p>

       <div class="serv_box">
          <span>Prototyping & MVP</span>
          <desc>Co-create a prototype that you can use both to test and improve yur solution as well as to specify scope to the development and design teams. Includes 10 screens of Low Fidelity Prototype(Wireframe) and Minimum Viable Product Definition.</desc>
          <price>500€</price>
          </div>

        <div class="serv_box">
          <span>Process Definition</span>
          <desc>Co-create 5 processes to suport your product. Includes 5 Flowcharts.</desc>
          <price>325€</price>
          </div>

        <div class="serv_box">
          <span>IT Product Testing</span>
          <desc>Test websites, aplications, webservices. Can be used with Agile Methodology and it includes Statistics and Test Sheets up to 125 steps (aproximately 25 functionalities)</desc>
          <price>325€</price>
          </div>
        
        <p>Here is some dummy examples of the work we will do for you:</p>
        <ul>
          <li>
            <a target="blank" href="/docs/articlewriter.pdf"><img src="images/icons/services/document_example.png"></a>
            <a target="blank" href="/docs/articlewriter.pdf">Prototyping & MVP</a>
          </li>
          <li>
            <a target="blank" href="/docs/example_process.png"><img src="images/icons/services/document_example.png"></a>
            <a target="blank" href="/docs/example_process.png">Process Definition</a>
          </li>
          <li>
            <a target="blank" href="/docs/itproducttesting_example.pdf"><img src="images/icons/services/document_example.png"></a>
            <a target="blank" href="/docs/itproducttesting_example.pdf">IT Product Testing</a>
          </li>
        </ul>


         <div class="calltoaction">
          <button data-toggle="modal" data-target="#servModal">Let's start doing Business</button>
        </div>


        <h2 class="service_group" id="serv_mp">Marketing Plan</h2>
                <p>Sales are what makes or breaks a company, and from early on we can help you hit it out of the park. We can help you improve your marketing plan.</p>
        
                <p><strong>Packages</strong></p>
        
                <div class="packs">
                  <div class="package_services">
            <span class="title"><strong><u>Full Review</u></strong></span>
            <div class="package_desc">
              <p class="package_desc_p">All services included</p>
              <span class="serv_price">300€</span>
              </div>
            </div>
          
          <div class="package_services">
            <span class="title"><strong><u>Review</u></strong></span>
            <div class="package_desc">
              <p class="package_desc_p">Up to 4 services included</p>
              <span class="serv_price">150€</span>
              </div>
            </div>

          <div class="package_services">
            <span class="title"><strong><u>Mentoring</u></strong></span>
            <div class="package_desc">
              <p class="package_desc_p">Chose 1 service</p>
              <span class="serv_price">80€</span>
              </div>
            </div>
          </div>
  


        <p><strong>Services</strong></p>

        <div class="servs">
          
          <div class="serv_list">
            <span>Market Strategy</span>
            <desc> Market stage identification, recommended strategies for that market stage.</desc>
            </div>

          <div class="serv_list">
            <span>Segmentation & Influencers</span>
            <desc>Market segment and persona's characterization and influencer identification.</desc>
            </div>

          <div class="serv_list">
            <span>Competitive Benchmark</span>
            <desc>Main Competitors analysis.</desc>
            </div>
          
          <div class="serv_list">
            <span>Differentiation & Parity Points</span>
            <desc>Differentiation and parity point identification and understanding.</desc>
            </div>

          <div class="serv_list">
            <span>Positioning & Targeting</span>
            <desc>Target identification and how the product, price, distribution, communication are catered to meet the needs of your target's needs.</desc>
            </div>

          <div class="serv_list">
            <span>Branding</span>
            <desc>Emotional promisse, tone of voice.</desc>
            </div>

          <div class="serv_list">
            <span>Pitch</span>
            <desc>Develop and improve the pitch for your products.</desc>
            </div>

          <div class="serv_list">    
            <span>Promotion Strategy</span>
            <desc>Identify, plan and execute communicate.</desc>
            </div>

          <div class="serv_list">    
            <span>Growth Hacking</span>
            <desc>Growth model based on hypothesis testing.</desc>
            </div>

          </div>

           <div class="calltoaction">
          <button data-toggle="modal" data-target="#servModal">Let's start doing Business</button>
        </div>


          <h2 class="service_group" id="serv_bmp">Business Model and Plan</h2>
          <p>Getting you business model right, undertanding the key decisions you need to make is something that companies dwell in the first couple of years. We want to help you speed up the process and save a few months.</p>
          
          <p><strong>Packages</strong></p>

        <div class="packs">
          <div class="package_services">
            <span class="title"><strong><u>Full Review</u></strong></span>
            <div class="package_desc">
              <p class="package_desc_p">All services included</p>
              <span class="serv_price">350€</span>
              </div>
            </div>

          <div class="package_services">
            <span class="title"><strong><u>Mentoring</u></strong></span>
            <div class="package_desc">
              <p class="package_desc_p">Chose 1 service</p>
              <span class="serv_price">80€</span>
              </div>
            </div>
          </div>

          <p><strong>Services</strong></p>

          <div class="servs">
            
            <div class="serv_list">    
              <span>Business Model Canvas</span>
              <desc>Framework that helps you answer some vey important questions about your business.</desc>
              </div>

            <div class="serv_list">    
              <span>Assumption Mapping</span>
              <desc>Identify the key assumptions made in your business plan.</desc>
              </div>

            <div class="serv_list">    
              <span>Identify KPIs</span>
              <desc>Identify which of the assumption are the most critical and turn them into KPIs.</desc>
              </div>

            <div class="serv_list">    
              <span>Scenario & Stress Testing</span>
              <desc>Scenario test your business plan to understand how each of the variables can make or break your business.</desc>
              </div>

            <div class="serv_list">    
              <span>Investment Analysis</span>
              <desc>Profitability analysis of your investment plans.</desc>
              </div>

            </div>

             <div class="calltoaction">
              <button data-toggle="modal" data-target="#servModal">Let's start doing Business</button>
              </div>



       <h2 class="service_group" id="serv_aud">Auditing</h2>
        <p>You are up and running and it's time to setp it up a notch any of these services, will help you reach that notch further. </p>
        
        <div class="serv_box">
          <span>Cost Accounting</span>
          <desc>Identify profit margins by product. complete profit and loss report per product allocating  fixed costs to product lines/revenue streams.</desc>
          <price>300€</price>
          </div>

        <div class="serv_box">
          <span>Inventory Analysis</span>
          <desc>Identify the perfect intentory order and order timmings to maximize your profits and service quality.</desc>
          <price>100€</price>
          </div>

        <div class="serv_box">
          <span>Process Efficiency Analysis</span>
          <desc>Improve your processes to deliver on a larger scale, or simply standardize processes.</desc>
          <price>100€</price>
          </div>


        <p>Here is some dummy examples of the work we will do for you:</p>
        <ul>
          <li>
            <a target="blank" href="/docs/costaccountingaudit_example.pdf"><img src="images/icons/services/document_example.png"></a>
            <a target="blank" href="/docs/costaccountingaudit_example.pdf">Cost Accounting</a>
          </li>
          <li>
              <a target="blank" href="/docs/productinventoryanalysis_example.pdf"><img src="images/icons/services/document_example.png"></a>
              <a target="blank" href="/docs/productinventoryanalysis_example.pdf">Inventory Analysis</a>
          </li>
          <li>
            <a target="blank" href="/docs/operationalefficiencyanalysis_example.pdf"><img src="images/icons/services/document_example.png"></a>
            <a target="blank" href="/docs/operationalefficiencyanalysis_example.pdf">Process Efficiency Analyis</a>
          </li>
        </ul>
       
       <div class="calltoaction">
          <button data-toggle="modal" data-target="#servModal">Let's start doing Business</button>
        </div>

        </div>
    </article>
    <%- include partials/_contactus %>
  </div><!-- bodyhome -->
</main>
 <footer class="scene">
  <article class="content">
    <div id="socialmedia">
     
    <div class="fb-comments" data-href="https://ideaninja.io/resources.html" data-colorscheme="dark" data-numposts="10"></div>
  <%- include partials/_footer %>
</body>
</html>
