<html>
  <%- include("partials/head", {
    description: "IdeaNinja extends beyond articles and tools we also provide services to help you thrive" , 
    title: "Services", 
    image: "/images/logo_components_color_2x_web_48dp.png", 
    href: "services.html", 
    type: "article"
}) %>

  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include partials/FAB_contact %> 
      
      <div class=card-panel>

          <div class="article">

          <h1>Services</h1>
      <p>IdeaNinja extends beyond articles and tools we also provide services to help you thrive</p>
      <h2>Mentorship</h2>
      <p>We provide mentorship programs with severall layers of complexity. From a simple review style mentorship, up to strategic debats, to coaching programs.</p>
      <h2>Trainning</h2>
      <p>We do trainning sessions for accelleration programs. If you are interested in hosting a acceleration program, we can create the content and deliver the trainning. </p>

    
     
          </div> <!--article-->
        
        </div><!--cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>