<html>
  <%- include("partials/head", {
    description: "IdeaNinja's Terms of service" , 
    title: "Terms of Service", 
    image: "/images/logo_components_color_2x_web_48dp.png", 
    href: "terms_of_service.html", 
    type: "legal"
}) %>

  <%- include("partials/head_analytics") %>
  
  <body class="mdc-typography">
    
    <%- include partials/nav.ejs %>


    <div class="container background">
      <div class="row">

        <%- include partials/FAB_search %> 
      
      <div class=card-panel>

          <div class="article">

          <h1>TERMS OF SERVICE</h1>
      <p>ACCEPTANCE OF THESE TERMS AND CONDITIONS IS ABSOLUTELY ESSENTIAL TO USE THE SITE.</p>
      <p>These Terms and Conditions apply to the use of services offered by IdeaNinja within the site www.ideaninja.io. Anyone intending to use the services of IdeaNinja should read and make sure they understand and accept all the conditions established in the Terms and Conditions and in the Privacy Policy before signing up to use IdeaNinja.</p>
      <p>By using our website and technology you are agreeing to these terms and conditions. If you do not agree to these terms of use, please refrain from using our website.</p>
      <p>If you are unsure about any aspect of these Terms of service or have any questions regarding our relationship with you, please contact us through our website ideaninja.io.</p>

      <h2>1. SCOPE OF SERVICE</h2>
      <p>These terms and conditions are subject to occasional changes and apply to all our services that are directly or indirectly provided (i.e. via third parties) via the internet, on mobile devices, by email or by telephone.</p>
      <p>Using our website, you confirm that you have read, understood and agree to these terms and conditions, as well as the privacy policy, including the use of cookies.</p>

      <h2>2.USER REGISTRATION</h2>
      <p>Users must register or login through a third party provider like Facebook, Twitter or Google signup form before they're able to use the platform. Users agree to:</p>
      <ol>
        <li>provide true, accurate, current and complete information about themselves upon registration,</li>
        <li>maintain and promptly update their registration data to keep it true, accurate, current and complete</li>
      </ol>

      <h2>3.LIABILITY</h2>
      <p>IdeaNinja shall not be liable for any damages may they be direct, indirect, accidental, special or resulting from the relationship between the user and any institutions engaged by the user within their usage of the platform. IdeaNinja is not responsible to you for any errors or omissions in our website.</p>
      <p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF EXCITING SPACE FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT THAT YOU PAID US TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU WITH THE SERVICES AGAIN). IN NO EVENT WILL THE TOTAL LIABILITY OF IDEANINJA FOR ANY CLAIMS UNDER THESE TERMS EXCEEED ONE HUNDRED EUROS (€100.00)</p>

      <h2>4.AMENDMENTS TO THE TERMS AND CONDITIONS</h2>
      <p>IdeaNinja reserves the right to modify at any time, unilaterally and without previous notice, these Terms and Conditions. When browsing this website, the interested party unequivocally accepts all the terms and conditions that are prevailing at the time of the visit and therefore should check them before each access.</p>

      <h2>5.INTELLECTUAL PROPERTY</h2>
      <p>All information, data and other content and materials available on the ideaNinja website, including, but not limited to, the IdeaNinja logo and all designs, text, documents, graphics, software, sounds files, other files and the selection and arrangement thereof are the proprietary property of IdeaNinja and its suppliers and licensors and are protected by international intellectual property laws. IdeaNinja and its suppliers and licensors reserve all right, title, and interest, including all intellectual property rights, in and to all such information, data, and other content and materials.</p>
      <p>IdeaNinja's logos are trademarks of IdeaNinja, and may not be copied, imitated or used, in whole or in part, without the prior written permission of IdeaNinja. All other trademarks, product names and company names or logos mentioned on the Tripaya website are property of their respective owners. You understand that reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise, does not constitute or imply endorsement, sponsorship, or recommendation thereof by us, or vice versa.</p>

      <h2>6.COPYRIGHT</h2>
      <p>IdeaNinja makes use of creative commons pictures to help provide visual context and inspiration for our destinations. For this we are thankful to the worldwide creative commons community of fantastic people. However, we always remove as quickly as we can any photos an author does not feel comfortable having on the site for whatever reason. To do so just contactus through the website https://ideaninja.io with your photography portfolio and we will get on it.</p>

      <h2>7.QUESTIONS</h2>
      <p>In case of questions regarding this document, please contact us via https://ideaninja.io</p>
     
          </div> <!--article-->
        
        </div><!--cardpanel-->
      <div id="searchheader"></div>
      <div id="cardsrow">
        <div id="endofcards"></div>
        </div> <!-- cardsrow-->

      </div><!-- Row -->
      </div><!--container --> 
 

    <%- include partials/footer.ejs %>
    <script src="/js/cardDisplay.js"></script>
    
        
  </body>
</html>